@charset "utf-8";
@charset "utf-8";

ul {
	list-style-type: none;
}

#header {
	margin: 0;
	width: 100%;
	min-width: 1000px;
	height: 40px;
	background-color: #999999;
	border-bottom: 4px solid #777777;
}



#footer {
	width: 100%;
	min-width: 1000px;
	background-color: #888888;
	border-top: 4px solid #666666;
	font-size: 13px;
	background-image: none;
	clear: both;
}

#footer_main {
	margin: 0 auto;
	width: 900px;
	padding: 20px;
	text-align: center;
	color: #FFFFFF;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #D9DCCA;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#contents {
	margin: 0px auto;
	padding: 0px;
	width: 760px;
	background-image: url("images/bg.gif");
	overflow: auto;
	color: #FFFFFF;
}

#main {
	margin: 3px 10px 3px 3px;
	padding-bottom: 40px;
	width: 744px;
	background-color: #000000;
}

#game {
	margin: 0px auto;
	padding: 0px;
	padding-top: 80px;
	width: 500px;
}

.ex {
	margin: 0px auto;
	padding: 6px;
	width: 500px;
	text-align: right;
}

.info {
	margin: 0px auto;
	padding: 20px;
	width: 600px;
	background-color: #555;
	font-size: 13px;
	line-height: 24px;
	border-radius: 6px;
	color: #CCC;
}